In [3]:
# 각 데이터셋 호출
df_challenger = pd.read_csv("tft-match-data (1)\\TFT_Challenger_MatchData.csv")
df_grandmaster = pd.read_csv("tft-match-data (1)\\TFT_Grandmaster_MatchData.csv")
df_master = pd.read_csv("tft-match-data (1)\\TFT_Master_MatchData.csv")
df_diamond = pd.read_csv("tft-match-data (1)\\TFT_Diamond_MatchData.csv")
df_platinum = pd.read_csv("tft-match-data (1)\\TFT_Platinum_MatchData.csv")

In [5]:
# 각 데이터 셋에 티어 컬럼 추가
df_challenger["tier"] = 'ch'
df_grandmaster["tier"] = 'gm'
df_master["tier"] = 'ms'
df_diamond["tier"] = 'dia'
df_platinum["tier"] = 'pt'

In [72]:
# 각 데이터프레임을 하나의 데이터 프레임으로 합침
df_integrate = pd.concat([df_challenger, df_grandmaster, df_master, df_diamond, df_platinum], ignore_index = True)
df_integrate.tail(8)

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion,tier
399990,KR_4296831363,2049.954102,7,19,8,1016.631775,"{'Demolitionist': 1, 'MechPilot': 1}","{'Rumble': {'items': [6], 'star': 1}}",pt
399991,KR_4296831363,2049.954102,7,31,6,1701.195190,"{'Blaster': 4, 'Chrono': 2, 'Cybernetic': 2, '...","{'Graves': {'items': [36], 'star': 2}, 'Blitzc...",pt
399992,KR_4296831363,2049.954102,8,38,1,2041.694946,"{'Blaster': 1, 'Chrono': 6, 'DarkStar': 1, 'De...","{'TwistedFate': {'items': [], 'star': 2}, 'Cai...",pt
399993,KR_4296831363,2049.954102,7,34,4,1862.439209,"{'Chrono': 2, 'Cybernetic': 1, 'Protector': 2,...","{'TwistedFate': {'items': [58], 'star': 2}, 'X...",pt
399994,KR_4296831363,2049.954102,8,33,5,1799.791870,"{'Chrono': 2, 'Cybernetic': 1, 'Infiltrator': ...","{'Xayah': {'items': [5], 'star': 2}, 'Yasuo': ...",pt
399995,KR_4296831363,2049.954102,8,38,2,2041.694946,"{'Blaster': 1, 'DarkStar': 1, 'MechPilot': 1, ...","{'Poppy': {'items': [], 'star': 2}, 'Zoe': {'i...",pt
399996,KR_4296831363,2049.954102,8,35,3,1911.133057,"{'Blaster': 2, 'Chrono': 1, 'Demolitionist': 1...","{'Ziggs': {'items': [44, 48], 'star': 3}, 'Mal...",pt
399997,KR_4296831363,2049.954102,8,31,7,1700.155151,"{'Blaster': 3, 'Chrono': 5, 'Cybernetic': 2, '...","{'Caitlyn': {'items': [14], 'star': 3}, 'Leona...",pt

In [63]:
# 중복 데이터 1개 삭제 및 데이터가 누락된 데이터 확인
# 1게임에 8명의 플레이어가 존재
# member 값 : 16 = 중복 데이터, member값 : 7 = 1명의 플레이어 데이터 누락
check_df = df_integrate.groupby("gameId").size().reset_index(name="member")
check_df[check_df["member"] != 8]

              gameId  member
2432   KR_4263820118      16
10243  KR_4313697214      16
12053  KR_4318806255       7
12525  KR_4320079059      16
20067  KR_4335870255       7
25323  KR_4344513862      16
27702  KR_4347884427      16
34207  KR_4357966612      16
34976  KR_4358922415      16
37414  KR_4361594426      16
37573  KR_4361773461      16
38720  KR_4362846604      16
39928  KR_4364453473      16
40896  KR_4365284161      16
43914  KR_4378896137      16
44448  KR_4381231118      16
45665  KR_4387025966      16
45726  KR_4387247645      16
45850  KR_4388134708      16
47563  KR_4393787119      16
49148  KR_4398618214      16

In [70]:
missing_player = list(check_df[check_df["member"] == 7]["gameId"].values)
df_integrate["gameId"] != missing_player

0         True
1         True
2         True
3         True
4         True
          ...
399993    True
399994    True
399995    True
399996    True
399997    True
Name: gameId, Length: 399998, dtype: bool

In [56]:
len(df_integrate[df_integrate["tier"] == 'pt']) % 8

0

In [ ]:
missing_data = "df_{}".format(tier).groupby("gameId").size().reset_index(name="game")
        missing_gameId.append((tier, missing_data[missing_data["game"] != 8]["gameId"].values))

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion,tier
399993,KR_4296831363,2049.954102,7,34,4,1862.439209,"{'Chrono': 2, 'Cybernetic': 1, 'Protector': 2,...","{'TwistedFate': {'items': [58], 'star': 2}, 'X...",pt
399994,KR_4296831363,2049.954102,8,33,5,1799.791870,"{'Chrono': 2, 'Cybernetic': 1, 'Infiltrator': ...","{'Xayah': {'items': [5], 'star': 2}, 'Yasuo': ...",pt
399995,KR_4296831363,2049.954102,8,38,2,2041.694946,"{'Blaster': 1, 'DarkStar': 1, 'MechPilot': 1, ...","{'Poppy': {'items': [], 'star': 2}, 'Zoe': {'i...",pt
399996,KR_4296831363,2049.954102,8,35,3,1911.133057,"{'Blaster': 2, 'Chrono': 1, 'Demolitionist': 1...","{'Ziggs': {'items': [44, 48], 'star': 3}, 'Mal...",pt
399997,KR_4296831363,2049.954102,8,31,7,1700.155151,"{'Blaster': 3, 'Chrono': 5, 'Cybernetic': 2, '...","{'Caitlyn': {'items': [14], 'star': 3}, 'Leona...",pt

In [29]:
test1 = df_challenger.groupby("gameId").size().reset_index(name="game")
test1[test1["game"] != 8]["gameId"].values

array(['KR_4318806255'], dtype=object)

In [27]:
df_challenger[df_challenger["gameId"] == "KR_4318806255"]

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion,tier
24504,KR_4318806255,2194.406738,8,40,1,2186.117432,"{'Chrono': 2, 'Cybernetic': 1, 'DarkStar': 3, ...","{'Leona': {'items': [], 'star': 2}, 'Mordekais...",ch
24505,KR_4318806255,2194.406738,8,40,2,2186.117432,"{'DarkStar': 1, 'Protector': 1, 'Set3_Celestia...","{'Poppy': {'items': [], 'star': 2}, 'Zoe': {'i...",ch
24506,KR_4318806255,2194.406738,8,37,3,2035.910645,"{'Blaster': 2, 'Chrono': 2, 'Cybernetic': 4, '...","{'Fiora': {'items': [16], 'star': 2}, 'Shen': ...",ch
24507,KR_4318806255,2194.406738,9,35,4,1952.748047,"{'Blaster': 2, 'Chrono': 4, 'Cybernetic': 1, '...","{'KaiSa': {'items': [], 'star': 1}, 'Blitzcran...",ch
24508,KR_4318806255,2194.406738,8,34,5,1896.191650,"{'Blaster': 4, 'Chrono': 2, 'Cybernetic': 2, '...","{'Malphite': {'items': [], 'star': 2}, 'Blitzc...",ch
24509,KR_4318806255,2194.406738,7,33,7,1840.356812,"{'DarkStar': 1, 'Demolitionist': 2, 'Infiltrat...","{'KhaZix': {'items': [2], 'star': 2}, 'KaiSa':...",ch
24510,KR_4318806255,2194.406738,7,27,8,1507.507324,"{'DarkStar': 2, 'Demolitionist': 2, 'Infiltrat...","{'KhaZix': {'items': [], 'star': 2}, 'KaiSa': ...",ch

In [74]:
df_integrate["combination"][0]

"{'DarkStar': 2, 'Protector': 4, 'Rebel': 1, 'Set3_Celestial': 3, 'Set3_Mystic': 4, 'StarGuardian': 2, 'TemplateTrait': 1}"

In [75]:
df_integrate["combination"][1]

"{'Blaster': 2, 'Mercenary': 1, 'Rebel': 6, 'Set3_Blademaster': 3, 'Set3_Brawler': 1, 'Set3_Mystic': 2, 'StarGuardian': 1, 'Starship': 1, 'Valkyrie': 2}"

In [76]:
df_integrate["combination"][2]

"{'Cybernetic': 1, 'DarkStar': 3, 'Demolitionist': 1, 'Infiltrator': 4, 'MechPilot': 3, 'Set3_Mystic': 1, 'Set3_Sorcerer': 2, 'Valkyrie': 1}"

In [77]:
df_integrate["combination"][3]

"{'Blaster': 1, 'Cybernetic': 1, 'DarkStar': 1, 'Demolitionist': 2, 'Infiltrator': 4, 'MechPilot': 3, 'Mercenary': 2, 'Set3_Sorcerer': 1, 'SpacePirate': 1, 'TemplateTrait': 1, 'Valkyrie': 2}"